.idea/*
lesson.py
lesson_3/__pycache__/*
lesson_4/__pycache__/*
lesson_4/.pytest_cache/*
geckodriver.log
check_work/__pycache__/*
check_work/.pytest_cache/*
lesson_7/task_1/__pycache__/*
lesson_7/task_1/.pytest_cache/*
lesson_7/task_1/allure-result/*
lesson_7/task_2/__pycache__/*
lesson_7/task_2/.pytest_cache/*
lesson_7/task_2/allure-result/*
lesson_7/task_3/.pytest_cache/*
lesson_7/task_3/__pycache__/*
lesson_7/task_3/pages/__pycache__/*
lesson_7/task_3/allure-result/*
lesson_8/__pycache__/*
lesson_9/__pycache__/*
lesson_9/.pytest_cache/*
lesson_9/allure-result/*