.idea/*
lesson.py
lesson_3/__pycache__/*
lesson_4/__pycache__/*
lesson_4/.pytest_cache/*
geckodriver.log
check_work/__pycache__/*
check_work/.pytest_cache/*
lesson_7/task_1/__pycache__/*
lesson_7/task_1/.pytest_cache/*
